.header {
    background-color: #ff9d00; /* Change this color as needed */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1bcd27;
    font-size: 16px;
    font-weight: bold;
}

.header a {
    color: rgb(46, 184, 194);
    text-decoration: none;
    margin: 0 10px;
}

.header a:hover {
    text-decoration: underline;
}
